@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--rtc-primary-font);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100svh;
    background-color: var(--rtc-color-5)
    
    ;
}

:root {
  /* FONTS */
  --rtc-primary-font: "Audiowide", sans-serif;

  /* BRANDING COLORS */
  --rtc-color-1: #78dd6f;
  --rtc-color-2: #F6F6F6;
  --rtc-color-3: #000000;
  --rtc-color-4: #FFFFFF;
  --rtc-color-5: #444040;
  --rtc-color-6: #fff851; 
  
  
  /* BACKGROUND-COLORS */
  --rtc-primary-bg: var(--rtc-color-1);

  /* TEXT-COLORS */
  --rtc-primary-text: var(--rtc-color-3);
  --rtc-secondary-text: var(--rtc-color-4);

  /* BORDER-COLORS */
  --rtc-primary-border: 1px solid var(--rtc-color-2);

  /* BORDER RADIUS */
  --rtc-br: 15px;

  /* SPACINGS */
  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-section: 100px;

  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;

  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
}

.games_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--rtc-padding-s);
  background-color: var(--rtc-color-3);
}

#app {
  padding: var(--rtc-padding-s);
}
